pool:
  name: BC
  demands: npm

#Your build pipeline references an undefined variable named ‘Extension.Version’. Create or edit the build pipeline for this YAML file, define the variable on the Variables tab. See https://go.microsoft.com/fwlink/?linkid=865972

steps:
- task: ms-devlabs.vsts-developer-tools-build-tasks.tfx-installer-build-task.TfxInstaller@1
  displayName: 'Use Node CLI for Azure DevOps (tfx-cli): v0.6.x'

- task: ms-devlabs.vsts-developer-tools-build-tasks.extension-version-build-task.ExtensionVersion@1
  displayName: 'Query Extension Version: Kine.naverticaltasks'
  inputs:
    connectedServiceName: VSMarketplace
    publisherId: Kine
    extensionId: naverticaltasks
    versionAction: Patch
    setBuildNumber: true

- task: ms-devlabs.vsts-developer-tools-build-tasks.package-extension-build-task.PackageVSTSExtension@1
  displayName: 'Package Extension: '
  inputs:
    extensionVersion: '$(Extension.Version)'
    extensionVisibility: private
    extensionPricing: free


- task: CopyFiles@2
  inputs:
    Contents: '**\*.vsix'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
